.company-resources{
    background-color: rgba(25, 143, 255, 0);
    padding: 12px 12px 3px;
    border: 1px dashed lightgray;
    border-radius: 5px;
    color: grey;
}

.company-resources > div {
    margin-bottom: 10px;
}

.group-basic-form{
    display: grid;
    grid-template-columns: auto auto;
}

.resource-warning{
    padding: 12px;
    background: #ff9900b3;
    color: white;
    border-radius: 5px;
    grid-column: 1/3;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: baseline;
    column-gap: 10px;
    margin-bottom: 12px;
}

.detail-text {
    font-size: 12px;
    opacity: 0.5;
}
.stacked-bar-graph {
    width: 100%;
    height: 38px;
    color:#414042;
}
.stacked-bar-graph span {
    display: inline-block;
    height:100%;
    box-sizing: border-box;
    float: left;
    font-weight: bold;
    font-family: arial, sans-serif;
    padding: 10px;
}
.stacked-bar-graph .bar-1 {
    background: #F7B334;
}
.stacked-bar-graph .bar-2 {
    background: #A7A9AC;
}
.stacked-bar-graph .bar-3 {
    background: #D57E00;
}

.ant-progress-success-bg, .ant-progress-bg {
    background-color: #52c41a;
}
.ant-progress-success-bg {
    background-color: #1890ff;
}